main.down {
  width: 40rem;
  margin-bottom: 3rem;
  background: var(--wizbrownfade);
  border-radius: 0.5rem;
}

.front-wall h2 {
  margin-bottom: 1.5rem;
  width: 30rem;
}

main.down.front-wall {
  text-align: center;
  margin-top: 5rem;
  padding: 1.5rem;
}

main.down.front-wall.disclaimer {
  text-align: justify;
  height: unset;
  margin-top: 3rem;
}

a.button.red {
  border:0.16em solid red;
  color:red;
}

a.button.red:hover{
  /* color:#DDDDDD; */
  /* border-color:rgb(78, 134, 255); */
  border-color:#DDDDDD;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  main.down.front-wall {
    margin-top: 0;
    margin: 0;
    width: 90%;
    height: 93%;
    padding: 0;
    padding-top: 7vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  main.down.front-wall.disclaimer {
    margin-top: 0;
    padding-top: 1rem;
  }

  .front-wall h2 {
    width: unset;
  }

}

@media screen and (max-height: 670px) {
  .front-wall h2 {
    font-size: 1.2rem;
  }
}
  

