main.down {
  width: 40rem;
  margin-bottom: 3rem;
  background: var(--wizbrownfade);
}

h2 {
  margin-bottom: 1.5rem
}

main.down.front-wall {
  text-align: center;
  margin-top: 8rem;
  padding: 1.5rem;
}

a.button.red {
  border:0.16em solid red;
  color:red;
}

a.button.red:hover{
  /* color:#DDDDDD; */
  /* border-color:rgb(78, 134, 255); */
  border-color:#DDDDDD;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  main.down {
    margin-top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* padding-top: 0; */
    /* padding-top: 10%; */
  }
}
