@font-face {
  font-family: enigmax;
  src: url(fonts/enigmax.ttf);
}


@font-face {
  font-family: iconmoon;
  src: url(fonts/icomoon.ttf);
}

.board-container {
  width: 20rem;
  height: 20rem;
  position: relative;
  /* border-style: solid; */
  /* border-color: rgb(59, 31, 17); */
  /* border-width: .25rem; */
  /* border-collapse: collapse; */
  margin: 1rem;
}

#chessground {
  width: 100%;
  height: 100%;
  position: absolute;
}

.promotion-overlay {
  /* visibility: hidden; */
  z-index: 4;
  background: rgba(22,21,18,.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.promotion-overlay square {
  cursor: pointer;
  border-radius: 50%;
  background-color: #b0b0b0;
  box-shadow: inset 0 0 25px 3px gray;
  /* transition: all 150ms; */
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 12.5%;
}

.promotion-overlay piece {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;;
  background-size: cover;
  z-index: 5;
  pointer-events: none;
  /* transition: all 150ms; */
}

.promotion-overlay square:hover piece {
  transform: scale(120%);
}

.promotion-overlay square:hover {
  box-shadow:inset 0 0 48px 8px #d64f00;
  border-radius:0%;
}

body {
  background-color: black;
  color: white;
  font-family: enigmax;
  font-weight: lighter;
}



cg-board {
  background-color: #bfcfdd;
}

#promotoion-choice {
  background: rgba(22,21,18,.7);
  z-index: 205;
  position: absolute;
  width: var(--cg-width, 100%);
  height: var(--cg-height, 100%);
  right: 0;
}

#promotion-choice piece {
    pointer-events: auto;
    opacity: 1;
}

.pgn-viewer {
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  background-color: black;
  border-color: goldenrod;
  border-width: .25rem;
  border-style: solid;
  overflow: auto;
  display: grid;
  grid-template-columns: 25% 30% 30%;
}

.pgn-viewer .highlight {
  background-color: green;
}

.cg-wrap {
  height: 100%;
  /* border-style: solid;
  border-color: rgb(59, 31, 17); */
}

.hidden {
  visibility: hidden;
}

.board-and-nav-box {
  background-color: rgb(49, 32, 7, .5);
  display: flex;
  margin-bottom: 1.5rem;
}

.board-and-nav-box a {
  color: white;
  text-decoration: none;
}

.board-and-nav-box a:visited {
  color:white;
}

.games {
  margin-top: 3rem;
  margin-left: 35%;
  margin-bottom: 25rem;
  width: 40rem;
  text-align: center;
}

.game-info-box {
  font-size: 1.25rem;
  margin: 1rem;
  text-align: center;
  margin-top: 4rem;
}

.game-info-box .king {
  margin-left: -1rem;
}

.game-filter {
  display: flex;
  justify-content: center;
  gap: 1rem;

}

.game-filter .king {
  text-align: center;
  cursor: pointer;
  /* opacity: 50%; */
  box-sizing: border-box;
}

.game-filter .king.selected {
  border: solid;
  border-color: goldenrod;
  opacity: 100%;
}

.game-filter h2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.games .filter-message {
  font-size: 1.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.game-filter .selector-box {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.games .button {
  margin-top: 1rem;
  margin-bottom: -1rem;
}