<!Doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ye Old Wizard</title>
  <meta name="description" content="Ye Old Wizard">
  <meta name="viewport" content="width=device-width, initial-scale=.82, maximum-scale=1, user-scalable=no"/>
  <link rel="icon" type="image/png" href="images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="lib/chessground/css/chessground.base.css">
  <link rel="stylesheet" type="text/css" href="lib/chessground/css/chessground.brown.css">
  <link rel="stylesheet" href="maestro.css">
  <link rel="stylesheet" href="chessboard.css">
  <link rel="stylesheet" href="yeoldwiz.css">
  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
</head>
<body>

  <div id="app" v-cloak >
    <header>
      <span> 
        <!-- @mouseover="switchNav" -->
        <span @click="route('nav')" class="hamburger" :class="{noshow: navIsOn}" >☰</span> 
        <span @click="route('back')" class="hamburger" :class="{noshow: !navIsOn}" >☰</span>
        <span class="main-title">Ye Old Wizard</span>
      </span>

      <span v-if="signInFailed" class="sign-in error" @click=signOut>
        <span> Failed to Sign in! </span>
        <div class="icon knight dead">♞</div>
      </span>

      <span v-else-if="user" class="sign-in">
        <span @mouseover="toggleSignOut(true)">Signed in as {{user}}</span>
        <div class="icon knight">♞</div>
        <div @mouseout="toggleSignOut(false)" v-if="shouldShowSignOut">
          <div @click="signOut" class="sign-out">Sign Out</div>
        </div>
      </span>
      
      <span v-else-if="user === null" class="sign-in">
        <span> Connecting to Lichess </span>
        <div class="icon knight spin">♞</div>
      </span>

      
      <span v-else class="sign-in">
        <a :href="signInLink">Sign In With Lichess</a>
        <div class="icon knight">♞</div>
      </span>
    </header>

    <main>
      <div class="nav-and-info" 
        :class="{focus: infoMode == 'selected' || messageType !== 'none' || navIsOn}">
        
        <section v-if="!navIsOn" class="info">

          <wiz-kid-info :cmp="selected" :mode="wizKidMode" :sign-in-link="signInLink"
            @deselect="route('back')" :user="user" 
            @start-game="() => startGame(selected.name)"
            @show-games="route('games', selected.name)">
          </wiz-kid-info>
          
          <wiz-message @clear-error="clearError()" @open-game="openGame" @clear-message="clearMessage()"
            :type="messageType" :message="message">
          </wiz-message>
               
        </section>

        <nav v-if="navIsOn">
          <a v-for="group in groups" @click="goToGroup(group.title, group.cmps[0])">
            {{group.title}}
          </a>
          <div>
            <a class="button yellow phone-nav" @click="route('back')">Back</a>
          </div>
        </nav>
      
      </div>
      

      <wiz-games v-if="(infoMode === 'selected' || infoMode === 'games') && user && messageType === 'none'" 
        :cmp-name="this.selected.name" :class="{focus: infoMode == 'games'}" 
        @go-back="route('back')">
      </wiz-games>

      <div class="groups" :class="{
        focus: infoMode == 'browsing' && wizKidMode !== 'message', 
        'nav-is-on': navIsOn, hidden: groupsAreHidden }">
        <section v-for="group in groups" class="group" :name="group.title"> 
          <!-- <a :name="group.title.replace(' ','')"></a> -->
          <h1>{{group.title}}</h1> 
          
          <div class="cmps" :class="{gms: group.isGms}">

            <div v-for="cmp of group.cmps" class="cmp-container" :title="cmp.summary">
              
              <div>
                <wiz-face 
                  :score-mode="scoreMode"
                  :score="games[cmp.name] ? games[cmp.name].score : null"
                  :is-nemesis="games[cmp.name] ? games[cmp.name].isNemesis : null"
                  :top-feat="games[cmp.name] ? games[cmp.name].topFeat : null"
                  :cmp="cmp" 
                  :selected-name="selected.name"
                  :selection-is-locked="selectionIsLocked"
                  @mouseover="this.selected=cmp"
                  @click="route('selected', cmp.name)">
                </wiz-face>
              </div>
           
            </div>

          </div>
        </section>
      </div>
    </main>

    
  </div>

  <script src="yeoldwiz.js" type="module"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.js"></script>
</body>
</html>