<!Doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ye Old Wizard</title>
  <meta name="description" content="Ye Old Wizard">
  <meta name="viewport" content="width=device-width, initial-scale=.82, maximum-scale=1, user-scalable=no"/>
  <link rel="icon" type="image/png" href="images/favicon.ico"/>
  <link rel="stylesheet" href="yeoldwiz.css">
  <link rel="manifest" href="manifest.json">
</head>
<body>

  <div id="app" v-cloak>
    <header>
      <span> 
        <span class="hamburger" @mouseover="switchNav">☰</span> 
        <span class="main-title">Ye Old Wizard</span>
      </span>

      <span v-if="signInFailed" class="sign-in error" @click=signOut>
        <span> Failed to Sign in! </span>
        <div class="knight dead">♞</div>
      </span>

      <span v-else-if="user" class="sign-in">
        <span @mouseover="toggleSignOut(true)">Signed in as {{user}}</span>
        <div class="knight">♞</div>
        <div @mouseout="toggleSignOut(false)" v-if="shouldShowSignOut">
          <div @click="signOut" class="sign-out">Sign Out</div>
        </div>
      </span>
      
      <span v-else-if="user === null" class="sign-in">
        <span> Connecting to Lichess </span>
        <div class="knight spin">♞</div>
      </span>

      
      <span v-else class="sign-in">
        <a :href="signInLink">Sign In With Lichess</a>
        <div class="knight">♞</div>
      </span>

    </header>
    <main>
      <div class="spacer"></div>
      <div class="nav-and-info" :class="{focus: infoMode !== 'browsing' || navIsOn}">
        <section v-if="!navIsOn" class="info">
          
          <div>
            <img class="face" :src="'images/faces/' + selected.face" alt="selected.name">
            <h2>{{selected.name}}</h2>
            <h3>{{selected.rating}}</h3>
          </div>

          <span v-if="infoMode === 'error'" class="error-message" >
            <div  class="knight dead">♞</div>
            <h3>Error</h3>
            <p>{{errorMessage}}</p>
            <p>Please contact your Wizard Admin</p>
            <a class="button yellow" @click="clearError">Ok</a>
          </span>
          
          <p v-if="infoMode === 'browsing' || infoMode === 'selected'">
            {{selected.summary}}
          </p>
          
          <p v-if="infoMode === 'browsing'">{{selected.bio}}</p>
          
          <div v-if="infoMode === 'selected' && user === undefined" class="buttons">
            <a :href="signInLink" class="button blue">Sign in to Play</a>
            <a class="button yellow" @click="stopSelectionLock">Cancel</a>
            <p>{{selected.style}}</p> 
          </div>
          
          <span v-if="infoMode === 'selected' && user === null" class="start-message" >
            <div>Connecting to Lichess...</div>
            <div  class="knight spin">♞</div>
          </span>

          <div v-if="infoMode === 'selected' && user" class="buttons">
            <a class="button yellow" @click="stopSelectionLock">Cancel</a>
            <a class="button blue" @click="startGame(selected.name)">Play</a>
            <p>{{selected.style}}</p> 
          </div>
         
        
          <span v-if="infoMode === 'starting'" class="start-message" >
            <div>Starting game...</div>
            <div  class="knight spin">♞</div>
          </span>

          <span v-if="infoMode === 'started'" class="start-message" >
            <div>Your game has started!</div>
            <p>Click to GO TO GAME or open the Lichess app on your phone to play.</p>
            <a class="button yellow" @click="stopSelectionLock">Done</a>
            <a @click="openGame" class="button blue">
              Go to Game
            </a>
          </span>
                    
        </section>
        <nav v-if="navIsOn">
          <a v-for="group in groups" :href="'#' + group.title.replace(' ','')" @click="toggleNav">
            {{group.title}}
          </a>
         </nav>
      </div>
      
      <div class="groups" :class="{focus: infoMode == 'browsing' && !navIsOn}">
        <section class="group" v-for="group in groups"> 
          <a :name="group.title.replace(' ','')"></a>
          <h1>{{group.title}}</h1> 
          <div class="cmps" :class="{gms: group.isGms}">
            <span class="cmp" :title="cmp.summary" v-for='cmp of group.cmps'>
              <a clss="cmp-a" :name="cmp.name"></a>
              <img class="face" :src="'images/faces/' + cmp.face" alt="cmp.name"
                @mouseover="showCmp(cmp)" 
                @click="toggleSelectionLock(cmp)"
                :class="{
                  selected: selected.name === cmp.name,
                  inPlayMode: selectionIsLocked && selected.name == cmp.name,
                }"
              >
              <span>{{cmp.name}}</span>
              <span>{{cmp.rating}}</span>
            </span>
          </div>
        </section>
      </div>>
    </main>
  </div>
  <!-- Serive worker setup-->
  <!-- <script> 
    if (!navigator.serviceWorker.controller) {
        navigator.serviceWorker.register("sw.js")
        .then(function(reg) {
            console.log("Service worker has been registered for scope: " + reg.scope);
        });
    }
  </script> -->

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="yeoldwiz.js" type="module"></script>
</body>
</html>