<!Doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ye Old Wizard</title>
  <meta name="description" content="Ye Old Wizard">
  <link rel="icon" type="image/png" href="images/favicon.ico"/>
  <link rel="stylesheet" href="yeoldwiz.css">
</head>
<body>

  <div id="app" v-cloak>
    <header>
      <span> 
        <span class="hamburger" @mouseover="switchNav">☰</span> 
        <span class="main-title">Ye Old Wizard</span>
      </span>

      <span v-if="user" class="sign-in">
        <span @mouseover="toggleSignOut(true)">Signed in as {{user}}</span>
        <div class="knight">♞</div>
        <div @mouseout="toggleSignOut(false)" v-if="shouldShowSignOut">
          <div @click="signOut" class="sign-out">Sign Out</div>
        </div>
      </span>
      
      <span v-else-if="user === null" class="sign-in">
        <span> Connecting to Lichess </span>
        <div class="knight spin">♞</div>
      </span>
      
      <span v-else class="sign-in">
        <a :href="signInLink">Sign In With Lichess</a>
        <div class="knight">♞</div>
        <!-- <div>{{signInLink}}</div> -->
      </span>

    </header>
    <main>
      <div class="spacer"></div>
      <div class="nav-and-info">
        <section v-if="!navIsOn" class="info">
          <img class="face" :src="'images/faces/' + selected.face" alt="selected.name">
          <h2>{{selected.name}}</h2>
          <h3>{{selected.rating}}</h3>
          <p>{{selected.summary}}</p>
          <p v-if="!isInPlayMode" >{{selected.bio}}</p>
          <div v-if="isInPlayMode" class="buttons">
            <a class="button yellow" @click="stopPlayMode">Cancel</a>
            <a class="button blue">Play</a>
          </div>
          <p v-if="isInPlayMode" >{{selected.style}}</p>
        </section>
        <nav v-if="navIsOn">
          <a v-for="group in groups" :href="'#' + group.title.replace(' ','')">
            {{group.title}}
          </a>
         </nav>
      </div>
      
      <div class="groups">
        <section class="group" v-for="group in groups"> 
          <a :name="group.title.replace(' ','')"></a>
          <h1>{{group.title}}</h1> 
          <!-- <h3>{{group.low}} to {{group.high}} </h3> -->
          <div class="cmps" :class="{gms: group.isGms}">
            <span class="cmp" :title="cmp.summary" v-for='cmp of group.cmps'>
              <img class="face" :src="'images/faces/' + cmp.face" alt="cmp.name"
                @mouseover="selectCmp(cmp)" 
                @click="togglePlayMode(cmp)"
                :class="{
                  selected: selected.name === cmp.name,
                  inPlayMode: isInPlayMode && selected.name == cmp.name,
                }"
              >
              <span>{{cmp.name}}</span>
              <span>{{cmp.rating}}</span>
            </span>
          </div>
        </section>
      </div>>
    </main>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="yeoldwiz.js"></script>
</body>
</html>