@media screen and (max-width: 1080px) {
  header {
    transform: scale(1.25);
    display: flex;
    justify-content: space-around;
    margin-right: 1rem;
  }

  .hamburger {
    margin-left: 1.3rem;
  }

  .sign-in {
    margin-right: 3.3rem;
  }

  .groups h1 {
    width: 80%;
    padding-top: 1rem;
  }


  .info .buttons a.button {
    width: 20rem;
    margin: auto;
    margin-bottom: .5rem;
  }

  .trophies a.button {
    margin-left: auto;
    margin-right: auto;
  }

  .trophies {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .trophy-piece {
    height: 4rem;
  }


  .nav-and-info {
    width: 100%;
    margin-right: 5rem;
    display: block;
    position: unset;
    margin-right: 0;
    height: 100vh;
    display: none;
    margin: unset;
    padding: unset;
  }

  nav {
    margin-top: 35%;
    transform: scale(1.1);
    position: fixed;
    width: 100%;
  }
  
  .info {
    display: none;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 4.5rem;
  }

  .info p {
    font-size: 1.25em;
    margin-left: 8.5vw;
    margin-right: 8.5vw;
  }

  a.phone-nav {
    display: inline-block;
  }

  button.phone-nav {
    display: inline-block;
  }

  .groups {
    margin-left: 0rem;
    margin-right: 0rem;
    visibility: hidden;
    /* display: none; */
  }

  .groups.focus {
    visibility: visible;
    /* display: block; */
  }

  .groups.hidden {
    visibility: hidden;
  }

  .groups.nav-is-on {
    visibility: hidden;
  }

  .loader {
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 13rem;
  }

  .loader .loader-bar {
    width: 75vw;
  }

  .games {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .games.focus {
    display: block;
  }

  .game-info-box {
    margin-bottom: .50rem;
    font-size: 1rem;
  }


  .info .face {
    width: 11rem;
    /* width: 30vw; */
  }

  .cmp {
    margin: 2rem;
    transform: scale(1.3);
  }


  .nav-and-info.focus{
    display: block;
  }

  .nav-and-info.nav-is-on {
    position: fixed;
  }

  .focus .info {
    display: block;
  }
  

  .badge-box {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  }

  .board-room {
    margin-top: 0;
    margin-left: 0;
    height: 100vh;
    background-color: var(--wizbrownfade);
  }
  
  .board-room .top-panel {
    display: flex;
    width: 99vw;
    /* background-color: var(--wizbrownfade); */
    padding-top: 3rem;
  }

  .board-room .top-panel .wiz-kid-name {
    width: 99vw;
  }

  .board-room .top-panel h2 {
    margin-top: 3rem;
    font-size: 2rem;
    margin-right: 6rem;
  }
  
  .board-and-nav-2 {
    width: 99vw;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  
  .board-room-overlay {
    width: 100%;
    height: 100%;
  }


  .board-nav {
    grid-template-rows: unset;
    margin: 0;
    padding: 0;
    width: 99vw;
    height: unset;
    background-color: unset;
    position: relative;
    /* transition: height .5s linear; */
    /* overflow: hidden; */
  }

  .game-done-message {
    max-width: none;
    width: unset;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 0;
    padding-top: 0;
    border-style: none;
    background-color: var(--wizbrownfade);
    margin-bottom: none;
    margin-top: 0;
  }

  
  .game-done-message p {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  .slider-box {
    left: -.2rem;
    position: absolute;
    background-image: url("images/wood.png");
    width: 100vw;
    /* margin-top: 100%; */
    /* transition: margin .5s linear; */
    animation: slide-up .5s linear;
  }

  .slide-enter-active {
    animation: slide-up 0.5s;
  }

  .slide-leave-active {
    animation: slide-down 1s;
  }

  @keyframes slide-up {
    0% {
      margin-top: 100%;
    }
    100% {
      margin-top: 0%;
    }
  }

  @keyframes slide-down {
    0% {
      margin-top: 0%;
    }
    25% {
      margin-top: 100%;
      height: 100%;
      overflow: hidden;
    }
    50% {
      margin-top: 100%;
      height: 1%;
      overflow: hidden;
    }
    100% {
      margin-top: 0%;
      height: 0%;
      overflow: hidden;
    }
  }
 
  .hide-on-desktop {
    display: grid; 
  }

  .show-on-desktop {
    display: none;
  }
 
  .board-nav .pgn-viewer {
    display: flex;
    padding-left: 1rem;
    gap: .50rem;
    hyphens: none;
    height: 2rem;
  }

  .board-nav .wiz-kid-name {
    display: none;
  }

  .board-nav .nav-buttons {
    margin: 0;
  }

  .board-nav .nav-buttons.lower {
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
  }

  .nav-buttons button:hover {
    border-color: goldenrod;
    color: goldenrod;
  }
  
  .nav-buttons.phone-nav {
    display: unset;
  }

  a.button.demo {
    margin-top: 1rem;
  }

  .board-nav .king, .game-done-message .king {
    height: 3rem;
    margin-top: 1rem;
  }

  .board-nav .user-name {
    margin: 0;
  }

  .board-nav .game-link {
    margin-top: 1.5rem
  }

  .demo-message {
    margin-top: 1rem;
    height: 2rem;
  }
  
  .nav-buttons.demo {
    margin-top: 1rem;
  }


  .nav-buttons button {
    font-size: 2rem;
  }

  .board-room .board-container {
    width: 99.5vw;
    height: 99.5vw;
    margin: 0;
  }

  .pgn-viewer::-webkit-scrollbar {
    display: none;
  }

  .you-won {
    font-size: 1.25rem;
    color: limegreen; 
  }

  .trophy-piece-end {
    height: 7rem;
  } 
  
  .trophy-win .goldenrook {
    margin-top: -1.1rem;
  }

  .game-done-message .button {
    margin-top: .25rem;
  }

  .trophy-win .goldenpawn {
    margin-top: -1.7rem;
  }

  .trophy-win .goldenknight {
    margin-top: -.6rem;
  }

  .trophy-win .goldenqueen {
    margin-top: 0rem;
  }

}

/* @media screen and (max-height: 1334) {
  .board-room {
    height:  unset;
  }
} */