@media screen and (max-width: 1080px) {
  header {
    transform: scale(1.25);
    display: flex;
    justify-content: space-around;
    margin-right: 1rem;
  }

  .hamburger {
    margin-left: 1.3rem;
  }

  .sign-in {
    margin-right: 3.3rem;
  }

  .groups h1 {
    width: 80%;
    padding-top: 1rem;
  }


  .info .buttons a.button {
    width: 20rem;
    margin: auto;
    margin-bottom: .5rem;
  }

  .trophies a.button {
    margin-left: auto;
    margin-right: auto;
  }

  .trophies {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .trophy-piece {
    height: 4rem;
  }


  .nav-and-info {
    width: 100%;
    margin-right: 5rem;
  }

  nav {
    margin-top: 3rem;
    margin-right: 3rem;
    transform: scale(1.1);
  }

  .info {
    margin-right: 7rem;
    margin-left: 4rem;
  }

  .info p {
    font-size: 1.25em;
  }

  a.phone-nav {
    display: inline-block;
  }

  .groups {
    margin-left: 0rem;
    margin-right: 0rem;
    visibility: hidden;
    /* display: none; */
  }

  .groups.focus {
    visibility: visible;
    /* display: block; */
  }

  .groups.nav-is-on {
    visibility: hidden;
  }

  .loader {
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 13rem;
  }

  .games {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .games.focus {
    display: block;
  }

  .game-info-box {
    margin-bottom: .50rem;
    font-size: 1rem;
  }


  .info .face {
    width: 11rem;
    /* width: 30vw; */
  }

  .cmp {
    margin: 2rem;
    transform: scale(1.3);
  }


  .nav-and-info.focus{
    display: block;
  }

  .focus .info {
    display: block;
  }
  

  .badge-box {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  }

  .info {
    display: none;
  }

  .nav-and-info {
    display: none;
  }

  .board-room {
    margin-top: 0;
    margin-left: 0;
  }

  .board-room .top-panel {
    display: flex;
    width: 30rem;
    background-color: var(--wizbrownfade);
    padding-top: 3rem;
  }

  .board-room .top-panel .wiz-kid-name {
    width: 30rem;
  }

  .board-room .top-panel h2 {
    margin-top: 3rem;
    font-size: 2rem;
    margin-right: 6rem;
  }
  
  .board-and-nav-2 {
    width: 30rem;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }

  .board-nav {
    grid-template-rows: unset;
    margin: 0;
    padding: 0;
    width: 30rem;
    height: unset;
  }

  .board-nav .pgn-viewer {
    display: flex;
    padding-left: 1rem;
    gap: .50rem;
    /* padding-top: 1rem; */
    hyphens: none;
  }

  .board-nav .wiz-kid-name {
    display: none;
  }

  .board-nav .nav-buttons {
    margin: 0;
  }

  .nav-buttons button:hover {
    border-color: goldenrod;
    color: goldenrod;
  }

  .board-nav .king {
    height: 3rem;
    margin-top: 1rem;
  }

  .board-nav .user-name {
    margin: 0;
  }

  .board-nav .game-link {
    margin-top: 1.5rem
  }

  .nav-buttons button {
    font-size: 2.5rem;
  }

  .board-room .board-container {
    width: 30rem;
    height: 30rem;
    margin: 0;
  }



}