@media screen and (max-width: 1080px) {
  header {
    transform: scale(1.25);
    display: flex;
    justify-content: space-around;
    margin-right: 1rem;
  }

  .hamburger {
    margin-left: 1.3rem;
  }

  .sign-in {
    margin-right: 3.3rem;
  }

  .groups h1 {
    width: 80%;
    padding-top: 1rem;
  }


  .info .buttons a.button {
    width: 20rem;
    margin: auto;
    margin-bottom: .5rem;
  }

  .trophies a.button {
    margin-left: auto;
    margin-right: auto;
  }

  .trophies {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .trophy-piece {
    height: 4rem;
  }


  .nav-and-info {
    width: 100%;
    margin-right: 5rem;
  }

  nav {
    margin-top: 3rem;
    margin-right: 3rem;
    transform: scale(1.1);
  }

  .info {
    margin-right: 7rem;
    margin-left: 4rem;
  }

  .info p {
    font-size: 1.25em;
  }

  a.phone-nav {
    display: inline-block;
  }

  .groups {
    margin-left: 0rem;
    margin-right: 0rem;
    visibility: hidden;
    /* display: none; */
  }

  .groups.focus {
    visibility: visible;
    /* display: block; */
  }

  .groups.nav-is-on {
    visibility: hidden;
  }

  .games {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .games.focus {
    display: block;
  }


  .info .face {
    width: 11rem;
    /* width: 30vw; */
  }

  .cmp {
    margin: 2rem;
    transform: scale(1.3);
  }


  .nav-and-info.focus{
    display: block;
  }

  .focus .info {
    display: block;
  }
  
/* 
  .badge-box {
    right: 1.5rem;
    bottom: .3rem;
  } */

  /* span.badge-box.score-even {
    visibility: none;
  } */

  .badge-box {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  }

  .info {
    display: none;
  }

  .nav-and-info {
    display: none;
  }

  .board-room {
    margin-left: 0;
  }
  
  .board-and-nav-2 {
    /* display: unset; */
    width: 100%;
    justify-content: center;
  }

  .board-nav {
    display: none;
  }

  .board-room .board-container {
    width: 98vw;
    height: 98vw;
    margin: 0;
    margin-top: 3rem;
  }



}