:root {
 --wizbrown: rgb(59, 31, 17);
 --wizblue: rgb(0, 81, 255);
 --wizbrownfade: rgb(49, 32, 7, .5);
 --wizblackfade: rgb(0,0,0,.5)
}

@font-face {
  font-family: dosfont;
  src: url(fonts/LessPerfectDOSVGA.ttf);
}

@font-face {
  font-family: iconmoon;
  src: url(fonts/icomoon.ttf);
}

@font-face {
  font-family: retro;
  src: url(fonts/setback-tt-brk.ttf);
}

@font-face {
  font-family: enigmax;
  src: url(fonts/enigmax.ttf);
}


@font-face {
  font-family: retro2;
  src: url(fonts/bitpap.medium.ttf);
}

:root {
  --nav-and-info-width: 20%
}

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0;
  margin-bottom: 0;
  background-color: black;
  color: white;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: dosfont;
  background-image: url("images/wood.png");
  background-repeat: repeat-y repeat-x;
  font-weight: lighter;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  user-select: none;
}

body::-webkit-scrollbar-button:double-button {
  border-color: transparent transparent #9b6a2f transparent;
}

body::-webkit-scrollbar {
  width: 20px;  
  z-index: 1;        
}

body::-webkit-scrollbar-track {
  background-color: var(--wizbrown);
  z-index: 1; 
}

body::-webkit-scrollbar-thumb {
  background-color: var(--wizblackfade);   
  z-index: 1;  
}

.hidden {
  visibility: hidden;
}

.noshow {

  display: none !important;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  text-align: center;
}

h2 {
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

h3 {
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

header {
  width: 100%;
  height: 2rem;
  background-color: rgb(59, 31, 17);
  display: block;
  position: fixed;
  z-index: 5;
  line-height: 2rem;
  padding-left: 1rem;
  /* font-family: retro2; */
  
  padding-top: 0.5rem;
}

.main-title {
  font-family: retro2;
  font-size: 1.5rem;
}

.sign-in {
  float: right;
  margin-right: 2em;
  line-height: 1.25em;
}

.sign-in a {
  text-decoration: none;
  color: white;
}

.sign-in:hover {
  cursor: pointer;
}

.sign-out {
  float: right;
  background-color: rgb(59, 31, 17);
  padding-right: 2em;
  padding-left: 2em;
  padding-top: .25em;
}

.sign-out:hover {
  cursor: pointer;
}

.icon.knight {
  display: inline-block;
  width: 1em;
  font-size: 1.25em;
  font-family: enigmax;
  padding-left: 0.5rem;
}

.error {
  color: red;
}

.dead{
  color: red;
  transform: rotate(180deg) scaleX(1) translateY(-6px);
}

.spin {
  animation-name: spin;
  animation-duration: 1900ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform-origin: center;  */
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}


.hamburger { 
  cursor: pointer; 
  line-height: 1.25em;
  padding-right: 0.5rem;
}

main {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: row;
}

.nav-and-info {
  height: 100%;
  width: 20rem;
  margin-top : 1rem;
  background-color: rgb(49, 32, 7, .5);
  position: fixed;
  flex: 0 auto auto;
  display: block;
  padding: 1.5rem;
  padding-top: 3.5rem;
} 

nav {
  margin-top: 1rem;
  text-align: center;
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  line-height: 1.2rem;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info .face {
    /* zoom: 2; */
    width: 9rem;
    height: auto;
    image-rendering: pixelated;
    border: .5rem solid rgb(59, 31, 17);
}


.info h2, h3 {
  margin: 0;
}

.info h2 {
  font-size: 2rem;
}

.start-message {
  margin-top: 2rem;
}
.start-message .icon.knight {
  font-size: 2rem;
  margin-top: 1rem;
}

.error-message {
  font-size: 1rem;
  margin-top: 1rem;
}
.error-message .icon.knight {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.groups {
  margin-top: 3rem;
  margin-left: 25rem;
  margin-bottom: 25rem;
  display: none;
}


.group .trophy-piece {
  height: 3em;
  background-color: black;
  /* background-color: var(--wizbrown); */
  border-style: solid;
  padding: .40rem;
  border-color: goldenrod;
  border-radius: 3rem;
  padding-left: .75rem;
  padding-right: .75rem;
  cursor: pointer;
}

.group .trophy-piece img {
  height: 100%;
  overflow: hidden;
}

.group .trophy-piece.short-pawn {
  padding-left: .25rem;
  padding-right: 0.25rem;
  padding-top: 0;
}

.group .trophy-piece.short-pawn img {
  height: 83%;
  margin-top: 25%;
}

.trophies {
  margin-top: 3rem;
  margin-left: 35%;
  /* margin-bottom: 25rem; */
  width: 40rem;
  text-align: center;
}

.trophies a.button {
  margin-top: 1rem;
}


.trophy-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: .25rem;
  border-color: goldenrod;
  padding: 2rem;
}

.trophy-collection .trophy-piece {
  height: 9rem;
}


.groups.focus {
  display: block;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group .face {
  /* zoom: 1.5; */
  width: 6.75rem;
  height: auto;
}


.cmps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-content: row-reverse; */
  justify-content: center;
}

.cmp-inner-div {
  display: block;
}

.gms {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.cmp {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cmp .face {
  cursor: pointer;
}

.cmp .face.selected {
  border-color: goldenrod;
}

.face {
  width: 72px;
  height: 93px;
  margin: 3px;
  image-rendering: crisp-edges;
  border: .375rem solid rgb(59, 31, 17);
  /* zoom: 1; */
  /* filter: brightness(1.1) contrast(1.5); */
  /* image-rendering: smooth; */
  /* image-rendering: pixelated; */
}

.info .buttons {
  display: flex;
  flex-direction: column;
  user-select: none;
  /* margin-top: 1rem; */
}

button.selected {
  border: .375rem solid goldenrod;
}

.inPlayMode {
  border: .375rem solid rgb(0, 81, 255)
}

a.button{
  display:inline-block;
  padding:0.2em 0.5em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-size: 1.5em;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  /* text-shadow: none; */
  /* font-family:'Roboto',sans-serif; */
}
a.blue {
  border:0.16em solid rgb(0, 81, 255);
  color: rgb(0, 81, 255);
}
a.yellow {
  border:0.16em solid goldenrod;
  color: goldenrod;
}

a.button.yellow:hover{
  /* color:#DDDDDD; */
  /* border-color: yellow; */
  border-color:#DDDDDD;
  cursor: pointer;
}
a.button.blue:hover{
  /* color:#DDDDDD; */
  /* border-color:rgb(78, 134, 255); */
  border-color:#DDDDDD;
  cursor: pointer;
}
a.button:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
}

a.button.blue.test {
  margin-top: 3em;
  opacity: 0;
}

a.button.grayed {
  color: gray;
  border-color: gray;
}

a.phone-nav {
  display: none;
}

.cmp-container  {
  position: relative;
}

.king {
  height: 3.5rem;
  z-index: 3;
  border-radius: 2rem;
}


.colorize {
  animation: color-change 15s infinite;
}

.badge-box {
  position: absolute;
  left: 2rem;
  bottom: 1.7rem;
  transform: scale(50%);
  -webkit-transform: scale(50%);
}

.badge-box .badge {
  width: 3.5rem;
  margin: atuo;
  line-height: 0;
}

.badge-box .pawn-won {
  position: absolute;
  left: 0.5rem;
  bottom: 3.4rem;
  font-family: enigmax;
  font-size: 3.5rem;
}

.badge-box .score {
  position: absolute;
  top: -4.3rem;
  left: 3.4rem;
  height: 1.5rem;
  padding: .5rem;
  font-size: 1.5rem;
  background-color: green;
  border-radius: 2rem;
  line-height: 1.7rem;
}

.trophy {
  font-family: iconmoon;
  color: gold;
}

.badge-box .trophy {
  position: absolute;
  left: 6.1rem;
  bottom: 3rem;
  font-size: 2.6rem;
}

.badge-box .badge .trophy-num {
  position: absolute;
  left: 6.8rem;
  bottom: 3.4rem;
  text-shadow: none;
  color: var(--wizbrown);
  font-weight: 700;
}


.badge-box .badguy {
  position: absolute;
  font-size: 2.3rem;
  left: 6.2rem;
  bottom: 0.8em;
  font-family: iconmoon;
  color: crimson;
}

.badge-box .score-down .score{
  background-color: rgba(220, 20, 60, 1);
}

.badge-box .score-even .score {
  background-color: gray;
}


.badge-box-2 {
  display: flex;
  border-color: goldenrod;
  margin-top: 1rem;
  padding-right: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.badge-box-2.has-selection .badge {
  opacity: 25%;
}

.badge-box-2 .badge.selected {
  opacity: 100%;
}


.badge-box-2 .badge  {
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  padding-left: .25rem;
  cursor: pointer;
}

.badge-box-2 .trophy {
  font-family: iconmoon;
  color: gold;
  font-size: 2rem;
  position: absolute;
  left: .38rem;
  top: .2rem;
}

.badge-box-2 .badge .trophy-num {
  position: absolute;
  top: .47rem;
  left: .9rem;
  text-shadow: none;
  font-weight: 700;
  color: var(--wizbrown);
  font-size: .8rem;
}

.badge-box-2 .pawn-won {
  font-family: enigmax;
  font-size: 3rem;
  color: green;
  position: absolute;
  top: -.7rem;
  right: -.9rem;
}

.badge-box-2 .circle {
  display: block;
  height: 2.2rem;
  width: 2.2rem;
  background-color: green;
  border-radius: 2rem;
  position: absolute;
  left: .25rem;
}

.badge-box-2 .badge.score-down .circle {
  background-color: crimson;
}


.badge-box-2 .score {
  position: absolute;
  top: .45rem;
  left: .50rem;
  font-size: 1.5rem;
}

.badge-box-2 .badge.score-even {
  width: 4rem;
}

.badge-box-2 .score-even .score {
  position: absolute;
  top: -.050rem;
  left: .25rem;
  height: 1.25rem;
  padding: .5rem;
  font-size: 1.25rem;
  background-color: gray;
  border-radius: 2rem;
  line-height: 1.5rem;
  margin-right: 1rem;
}


.badge-box-2 .badguy {
  font-family: iconmoon;
  color: crimson;
  font-size: 1.9rem;
  position: absolute;
  left: .40rem;
  top: .18rem;
}

.cool-guy {
  font-size: .6rem;
  font-family: iconmoon;
  color: ivory;
  position: absolute;
  top: 0.5rem;
  left: .70rem;
  z-index: 4;
}

.pawn-head {
  font-size: .6rem;
  font-family: iconmoon;
  color: ivory;
  position: absolute;
  top: 0.5rem;
  left: .70rem;
  z-index: 4;
}


.badge-icon {
  font-size: 3.6rem;
  /* font-family: enigmax; */
  font-family: iconmoon;
  margin-left: -1.1rem;
  color: gold;
}

@keyframes color-change {
  0% { color: yellow; }
  25% { color: greenyellow; }
  50% { color: magenta; }
  100% { color: gold; }
}

@media all and (max-width:25em){
    a.button {
    display:block;
    margin: em auto;
  }
}

[v-cloak] { display: none !important; }


